body > .header .logo {
	font-size: 28px;
}
.btn {
	cursor: default;
}
.fa-red {
	color: #F56954;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;

}

.pace .pace-progress {
	background-color: #f56954;
}

.table-responsive {
	overflow-x: auto;
	overflow-y: hidden;
}

/*.skin-blue .navbar {
	background-color: #151840;
}

.skin-blue .logo {
	background-color: #192959;	
}*/