/* This CSS is to override sb-admin.css
	for Omniscient needs 
*/

.navbar-default .navbar-brand {
	color: #000;
	font-size: 2em;
	text-transform: uppercase;
}

.btn-view {
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar ul li a.active {
	background-color: #428bca;
	color: #FFF;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #428bca;
	color: #FFF;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    display:inline-block;
    margin-top:2%;
    float:right;
}
input[type="date"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.date {
	height: 34px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

td input[type=checkbox], th input[type=checkbox] {
	visibility: hidden;
}

.checkAttendance {
	position: relative;
	border-radius: 3px;
}

.checkAttendance label {
	margin-left: -15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: green;
}

.checkAttendance input[type=checkbox]:checked + label {
	background-color: red;
}

.checkAll { display: inline;}


.checkAll label{
	background-color: green;
	width: 10px;
	height: 10px;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
	background-color: green;
	color: transparent;
	border-color: transparent;
}

.att_green, .att_red {
	display: inline-block;	
	height: 30px;
	width: 30px;
}

.att_green { background-color: green;}
.att_red { background-color: red; }
